{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card shadow-sm w-100" style="max-width: 500px;">
            <div class="card-body">
                <h3 class="card-title mb-4 text-center">Confirm Logout</h3>
                <p class="text-center">Are you sure you want to log out?</p>

                <div class="d-flex justify-content-between">
                    <a href="/" class="btn btn-secondary w-45">Cancel</a>
                    <button onclick="logOut()" class="btn btn-danger w-45">Logout</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let cookie of cookies) {
                cookie = cookie.trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
        function logOut() {
            $.ajax({
                url: `http://localhost:8000/api/logout/`,
                type: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                success: function () {
                    window.location.href = "http://localhost:8000/"
                },
                error: function (xhr, status, error) {
                    console.log(xhr.status);
                    console.log(error);
                }
            });
        }


    </script>

{% endblock %}
