{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyShop</title>
    <meta name="csrf-token" content="{{ csrf_token }}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
          rel="stylesheet">
    
{#    AOS#}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">



</head>
<body class="{% block body-class %}default-bg{% endblock %}">

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home page' %}" >MyShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home page' %}">Home</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Books</a>
                    <ul class="dropdown-menu text-start" aria-labelledby="navbarDropdown" id="genre-list">
                        <li><a class="dropdown-item" href="{% url 'products' %}">All books</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <!-- Dynamic genres will be added here -->
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <span id="username-display" style="visibility: hidden;">Account</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown" id="account-menu">
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'order products' %}">
                        <i class="bi bi-bag"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="customToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div id="customToastBody" class="toast-body">
                <!-- Toast message inserted here -->
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="errorToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div id="errorToastBody" class="toast-body">
                <!-- Error message inserted here -->
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<script>
    
    
</script>



{% block content %}
{% endblock %}

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

    const urlPatterns = {
        profileDetails: "{% url 'profile details' 0 %}".replace("0/", ""),
        profileEdit: "{% url 'edit profile' 0 %}".replace("0/", ""),
        logout: "{% url 'logout profile' %}",
        accountLogin: "{% url 'login profile' %}",
        accountRegister: "{% url 'create profile' %}"
    };
    const baseProductsUrl = "{% url 'products' %}";
    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');


</script>
<script src="{% static 'script/toasts.js' %}"></script>
<script src="{% static 'script/main.js' %}"></script>


</body>

{% block footer %}
    <div class="container footer-container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
            <p class="text-center text-body-secondary">© 2025 MyShop, Inc</p>
        </footer>
    </div>
{% endblock %}
</html>
