html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px; /* Height of the footer */
}



.default-bg {
    background-color: white; /* Default background */
}

/* Special background only for specific pages */
.radial-gradient-bg {
    background-image: radial-gradient(#fef9f8, #ffe9e6, #fedfdb);
    height: 100vh;
}

.navbar {
    background-color: transparent;
    border-bottom: none;
    box-shadow: none;
    padding-top: 20px;
    border-bottom: gray;
    border: 2px;
}

.navbar li {
    padding: 0 10px;
}

.navbar a {
    padding-left: 100px;
}


/* Default: Dropdown menu with white background */
.dropdown-menu {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle border */
    z-index: 2000 !important;
    position: absolute !important;
    /*display: block;*/
}

/* Make dropdown transparent on homepage */
.radial-gradient-bg .dropdown-menu {
    background: transparent;
    border: none;
}

/* Style dropdown items */
.dropdown-item {
    padding: 5px 10px !important;
    text-align: left;
    color: black; /* Ensure text is visible */
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Light hover effect */
}

.container.col-xxl-8 {
    margin-top: 80px;
}



.footer-container {
    margin-top: 100px;
}

.order-wrapper {
    margin-top: 50px;
}



