{% extends 'base.html' %}

{% block content %}


{#    <style>#}
{#        .card-img-top {#}
{#            width: 50%; /* Ensures the image takes full card width */#}
{#            height: 250px; /* Consistent height */#}
{#            object-fit: cover; /* Prevents distortion */#}
{#            display: block; /* Removes extra spacing */#}
{#            margin: 0 auto; /* Centers image */#}
{#        }#}
{#    </style>#}

    <div class="container my-5">
        <h2 class="fw-bold pb-5">All Products</h2>
        <div class="row">
            {% for book in books %}
            <!-- Sample Product 1 -->
            <div class="col-md-3 col-sm-6">
                <div class="card border-0">
                    <a href="{% url 'product detail' book.id %}"><img src="{{ book.image.url }}" class="card-img-top" alt="HTML tutorial"></a>
{#                    <img src="{{ book.image.url }}" class="card-img-top"#}
{#                         alt="Red Printed T-Shirt">#}
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ book.title }}</h5>

                        <p class="text-warning">⭐⭐⭐⭐☆</p>
                        <p class="fw-bold">${{ book.price|floatformat:2 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Sample Product 1 -->
{#            <div class="col-md-3 col-sm-6">#}
{#                <div class="card border-0">#}
{#                    <img src="https://images2.penguinrandomhouse.com/cover/9780593457917" class="card-img-top"#}
{#                         alt="Red Printed T-Shirt">#}
{#                    <div class="card-body text-center">#}
{#                        <h5 class="card-title">Red Printed T-Shirt</h5>#}
{##}
{#                        <p class="text-warning">⭐⭐⭐⭐☆</p>#}
{#                        <p class="fw-bold">$50.00</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{% endblock %}

