{% extends 'base.html' %}
{% load static %}


{% block content %}


    <div class="container my-5">
        <h2 class="fw-bold pb-5">All Products</h2>
        <div class="row">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    
    <script>
        const PRODUCT_DETAIL_BASE_URL = "{% url 'product detail' 0 %}".replace("0/", "");
    </script>
    <script src="{% static 'script/products/products-script.js' %}"></script>
    <script>
        AOS.init();
    </script>


{% endblock %}

